<h1>Admin
Dashboard</h1>
<table class="table table-bordered">
<thead>
<tr>
<th scope="col"> Products: </th>
<th scope="col"> Categories: </th>
<tr>
<thead>
<tbody>
<td><%= @products %></td>
<td><%= @categories %></td>
</tbody>
</table>